{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}School-online{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'img/logo.svg' %}" alt="logo" class="logo">
        <span class="logo-text">School-online</span>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>Вітаю, {{ user.username }}!</li>

                {% else %}
                    <li><a href="{% url 'login' %}">Вхід</a></li>
                    <li><a href="{% url 'register' %}">Реєстрація</a></li>
                {% endif %}
                <li><a href="#">Відвідуваність</a></li>
                <li><a href="#">Журнали успішності</a></li>
                <li><a href="#">Вчителі</a></li>
                <li><a href="#">Про нас</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 School-online</p>
    </footer>
</body>
</html>