{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}School-online{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="logo" class="logo">
        <span class="logo-text">School-online</span>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>Вітаю, {{ user.username }}!</li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <li><button type="submit">Вийти</button></li>
                    </form>
                    <li><a href="{% url 'attendance' %}">Відвідуваність</a></li>
                    <li><a href="{% url 'performance_journal:grades_list' %}">Журнали успішності</a></li>
                    {% if user|is_teacher %}
                        <li><a href="{% url 'performance_journal:add_grade' %}">Додати оцінку</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'login' %}">Вхід</a></li>
                    <li><a href="{% url 'register' %}">Реєстрація</a></li>
                {% endif %}
                <li><a href="{% url 'chat_page' %}">Вчителі</a></li>
                <li><a href="{% url 'news_home' %}">Новини</a></li>
                <li><a href="{% url 'about_us' %}">Про нас</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 School-online</p>
    </footer>
</body>
</html>
